@import helper._
@(user: Users)

@main("Hakkında")(user) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/transition.css")">
    <div class="container">
        <h2>Kitap Yolda'nin Serüveni</h2>

        <div class="activity-feed">

            <div class="feed-item">
                <div class="text"><div class="alert alert-info" role="alert">Nedir?</div></div>
                <div class="text"><div class="alert alert-success" role="alert">Kitap Yolda tamamen ücretsiz bir kitap paylaşım platformudur. Sisteme kolayca kayıt olarak elinizdeki kitapları paylaşabilir, okumak istediğiniz kitapları talep edebilirsiniz.
                    Talep ettiğiniz kitabı, kitabın sahibi size doğrudan, alıcı ödemeli olarak kargolar. İstediğiniz kitaba sadece kargo ücretini ödeyerek sahip olursunuz.
                    Paylaşmak istediğiniz kitapları ise istek gönderen kullanıcılar arasından istediğiniz kişiye alıcı ödemeli olarak kargolarsınız.
                    Paylaşımcı okurları bir araya getiren Kitap Yolda, sizi okumak istediğiniz kitaplara hızlıca ulaştırırken, gönderdiğiniz kitaplar aracılığıyla paylaşmanın mutluluğunu size yaşatır…</div>
                </div>
            </div>

            <div class="feed-item">
                <div class="date"><div class="alert alert-info" role="alert">Ekim 2018</div></div>
                <div class="text"><div class="alert alert-success" role="alert">İYTE'de bir dönem ödevi projesi fikri olarak "Kitap Yolda" sunuldu.</div></div>
            </div>

            <div class="feed-item">
                <div class="date"><div class="alert alert-info" role="alert">Ocak 2018</div></div>
                <div class="text"><div class="alert alert-success" role="alert">Proje sunumuna bir hafta kala geliştirme ortamı kuruldu.</div></div>
            </div>

            <div class="feed-item">
                <div class="date"><div class="alert alert-info" role="alert">Ocak 2018</div></div>
                <div class="text"><div class="alert alert-success" role="alert">Proje sunumuna bir kaç gün kala proje geliştirilmeye başlandı.</div></div>
            </div>

            <div class="feed-item">
                <div class="date"><div class="alert alert-info" role="alert">Ocak 2018</div></div>
                <div class="text"><div class="alert alert-success" role="alert">Proje sunumuna üç gün kala proje tamamlandı.</div></div>
            </div>

            <div class="feed-item">
                <div class="date"><div class="alert alert-info" role="alert">Ocak 2018</div></div>
                <div class="text"><div class="alert alert-success" role="alert">Proje sunumuna saatler kala proje faaliyete geçti.</div></div>
            </div>

            <div class="feed-item">
                <div class="date"><div class="alert alert-info" role="alert">10.45 10 Ocak 2018</div></div>
                <div class="text"><div class="alert alert-success" role="alert">Proje sunuldu ve artık yayında!</div></div>
            </div>

        </div>

    </div>
}