@(bookList: List[Books])(user: Users)

@main("Books")(user){

    <div class="container">
        <h2>Kitaplar</h2>
        <p>Kitap Listesi</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kitabın Adı</th>
                    <th>Yazarı</th>
                    <th>ISBN</th>
                    <th>Ekleyen</th>
                    <th>Eklenme Tarihi</th>
                    <th>Uygunluk</th>
                </tr>
            </thead>
            <tbody>
            @for(book <- bookList) {
                <tr>
                    <td><a href="@routes.BookController.getBookPage(book.id)">@book.name</td>
                    <td><a href="@routes.BookController.getBooksByAuthor(book.author)">@book.author</td>
                    <td>@book.ISBN</td>
                    <td><a href="@routes.BookController.getBooksByAdder(book.adder.id)">@book.adder.name</td>
                    <td>@book.additionDate</td>
                    @{
                        if(book.isAvailable){
                                <td bgcolor="#00FF00">Uygun.</td>
                        }
                        else
                        {
                                <td bgcolor="#FF0000">Uygun değil.</td>
                        }
                    }
                </tr>
            }

            </tbody>
        </table>
    </div>
}
