@import helper._

@(book: Books)(user: Users)(notWishedYet: Boolean)(transitionList: List[Transitions])

@main("Kitap Bilgileri")(user) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/transition.css")">


    <div class="container">
        <div class="row">
            <div class="col-md-3"><!--left col-->
                <style>
                        .available {
                            color: green;
                        }

                        .not_available {
                            color: red;
                        }
                </style>
                <h2>Kitap Bilgileri</h2>

                <ul class="list-group">
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Kitap Adı</strong></span>@book.name</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Yazar</strong></span><a href="@routes.BookController.getBooksByAuthor(book.author)">@book.author</a></li>

                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Kitabı Ekleyen</strong></span><a href="@routes.BookController.getBooksByAdder(book.adder.id)">@book.adder.name</a></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Eklenme Tarihi</strong></span>@book.additionDate</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Durum</strong></span>
                        @{
                            if(book.isAvailable) {
                                    <span class="available">Uygun</span>

                            }
                            else {
                                    <span class="not_available">Uygun Değil</span>

                            }
                        }
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        ISBN</strong></span> @{
                        if(book.ISBN != null) {
                                book.ISBN

                        }
                        else {
                               "Belirtilmedi"

                        }
                    }</li>
                </ul>
                <form id="wish-form" action="@routes.BookController.wishBook()" method="post" role="form" style="display: block;">
                    @CSRF.formField
                    @{
                    if(book.isAvailable && notWishedYet){
                        if(book.owner.id != user.id) {
                                <input type="submit" name="wish-submit" id="wish-form"  class="btn btn-block btn-success active" value="İste">
                                </input>
                        }
                    }
                }
                    <input type="hidden" name="book_id" value="@book.id"></input>

                </form>
                @if(!book.isAvailable) {
                    @if(book.owner.id != user.id) {
                    <button class="btn btn-block btn-danger disabled" type="submit"> İste </button>
                    }
                }
                <form id="change-wish-form" action="@routes.BookController.takeBackWish()" method="post" role="form" style="display: block;">
                    @CSRF.formField
                    @{
                        if(book.isAvailable && !notWishedYet){
                            if(book.owner.id != user.id) {
                                    <input type="submit" name="wish-submit" id="change-wish-form" class="btn btn-block btn-warning active" value="Vazgeç">
                                    </input>
                            }
                        }
                    }
                    <input type="hidden" name="book_id" value="@book.id"></input>


                </form>

            </div>
            <div class="col-md-9">
                <h2>Kitap Yolculuğu</h2>


                <div class="activity-feed">

                    @for(transition <- transitionList) {
                        @if(transitionList.size() > 0){
                                <div class="feed-item">
                                    <div class="date">@transition.wishDate</div>
                                    <div class="text">@transition.sender.name kitabı @transition.receiver.name kişisine gönderdi. </div>
                                </div>

                        }


                    }

                </div>


            </div>
        </div>

    </div>


}