
@import helper._
@(book: Books)(user: Users)

@main("Book")(user) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/transition.css")">


    <div class="container">
        <div class="row">
            <div class="col-md-3"><!--left col-->
                <style>
                        .available {
                            color: green;
                        }

                        .not_available {
                            color: red;
                        }
                </style>
                <h2>Kitap Bilgileri</h2>

                <ul class="list-group">
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Kitabın Adı</strong></span>@book.name</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Kitabın Yazarı</strong></span><a href="@routes.BookController.getBooksByAuthor(book.author)">@book.author</a></li>

                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Kitabı Ekleyen</strong></span>@book.adder.name</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Kitabın Eklenme Tarihi</strong></span>@book.additionDate</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Kitabın Uygunluk Durumu</strong></span>
                        @{
                            if(book.isAvailable) {
                                    <span class="available">Uygun</span>

                            }
                            else {
                                    <span class="not_available">Uygun Değil</span>

                            }
                        }
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        ISBN</strong></span> @{
                        if(book.ISBN != null) {
                                book.ISBN

                        }
                        else {
                               "Belirtilmedi"

                        }
                    }</li>
                </ul>
                <form id="wish-form" action="@routes.BookController.wishBook()" method="post" role="form" style="display: block;">
                    @CSRF.formField
                    @{
                    if(book.isAvailable){
                            <input type="submit" name="wish-submit" id="wish-form"  class="btn btn-block btn-success active" value="İste">
                            </input>

                    }
                    else{
                            <button class="btn btn-block btn-danger disabled" type="submit"> İste </button>
                    }
                }
                    <input type="hidden" name="book_id" value="@book.id"></input>

                </form>

            </div>
            <div class="col-md-9">
                <h2>Kitap Yolculuğu</h2>


                <div class="activity-feed">
                    @for(i <- 0 to 20){
                        <div class="feed-item">
                            <div class="date">Sep 25</div>
                            <div class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></div>
                        </div>

                    }

                </div>


            </div>
        </div>

    </div>


}