@import helper._
@import java.util
@(user: Users)(transitions: List[Transitions])(bookList: List[Books])(myOpenBooks: List[Books])
@*(bookMap: util.HashMap[Books, Users])*@
@jsFileWithExtension(id: Long) = @{
    "demo" + id
}
@jsFileWithExtension2(id: Long) = @{
    "edit" + id
}

@main("Profil")(user) {
    <div class="container">

        <div class="row">
            <div class="col-sm-3"><!--left col-->

                <ul class="list-group">
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Profil</strong></span> @user.username</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        İsim</strong></span> @user.name</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Mail</strong></span> @user.email</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Paylaştığı Kitap Sayısı</strong></span><a href="@routes.BookController.getBooksByAdder(user.id)">@user.booksAdded.size()</a></li>

                </ul>


            </div><!--/col-3-->
            <div class="col-sm-9">

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home" data-toggle="tab">Açıktaki Kitaplarım (@myOpenBooks.size())</a></li>
                    <li><a href="#messages" data-toggle="tab">İstekte Bulunduklarım (@transitions.size())</a></li>
                    <li><a href="#from-me" data-toggle="tab">Benden İstenenler (@bookList.size())</a></li>
                    <li><a href="#settings" data-toggle="tab">Kitap Ekle (+)</a></li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kitap Adı</th>
                                        <th>Yazarı</th>
                                        <th>ISBN</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>Uygunluk</th>
                                        <th>Kitap Bilgilerini Düzenle</th>
                                    </tr>
                                </thead>
                                <tbody id="items">

                                @for(book <- myOpenBooks) {
                                    <tr data-toggle="collapse" data-target="#@jsFileWithExtension(book.id)" class="accordion-toggle ">
                                        <td><a href="@routes.BookController.getBookPage(book.id)">@book.name</a></td>
                                        <td><a href="@routes.BookController.getBooksByAuthor(book.author)">@book.author</a></td>
                                        <td>@book.ISBN</td>
                                        <td>@book.additionDate</td>
                                        @{
                                            if(book.isAvailable){
                                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            }
                                            else
                                            {
                                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                            }
                                        }
                                        <td><button type="button" data-toggle="modal" data-target="#@jsFileWithExtension2(book.id)" data-uid="1" class="update btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                                            <!-- <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td> -->
                                    </tr>

                                    <div id="@jsFileWithExtension2(book.id)" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                    <h4 class="modal-title">Kitap Bilgilerini Duzenle</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input id="fn" type="text" class="form-control" value="@book.name" name="fname" placeholder="Kitap Adi">
                                                    <input id="ln" type="text" class="form-control" value="@book.author" name="fname" placeholder="Yazar Ismi">
                                                    <input id="mn" type="text" class="form-control" value="@book.isAvailable" name="fname" placeholder="Uygunluk">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="up" class="btn btn-success" data-dismiss="modal">Kaydet</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Iptal</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-4 text-center">
                                    <ul class="pagination" id="myPager"></ul>
                                </div>
                            </div>
                        </div><!--/table-resp-->


                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="messages">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kitap Adi</th>
                                        <th>Yazari</th>
                                        <th>Kitabin Ekleyen</th>
                                        <th>Isteği İptal Et</th>
                                        <th>Kitap Elime Ulaştı</th>

                                    </tr>
                                </thead>
                                <tbody id="items">
                                    @for(transition <- transitions) {
                                        @if(transition.transitionIsActive){
                                        <tr>
                                            <td><a href="@routes.BookController.getBookPage(transition.book.id)">@transition.book.name</a></td>
                                            <td><a href="@routes.BookController.getBooksByAuthor(transition.book.author)">@transition.book.author</a></td>
                                            <td>@transition.book.adder.name</td>
                                            <form id="change-wish-form" action="@routes.BookController.takeBackWish()" method="post" role="form" style="display: block;">
                                                @CSRF.formField

                                                @if(transition.state == 0 && !transition.book.owner.equals(user)) {
                                                    <td>
                                                        <input type="submit" name="wish-submit" id="change-wish-form" class="btn btn-warning" value="Vazgeç">
                                                        </input>
                                                    </td>
                                                }

                                                @if(transition.state == 1) {
                                                    @if(transition.book.owner.id != user.id) {
                                                        <td>Bu kitap yolda.</td>

                                                    }
                                                }

                                                @if(transition.book.owner.equals(user) && transition.state == 0) {
                                                    <td>Bu kitap artık sizin.</td>

                                                }


                                            <input type="hidden" name="book_id" value="@transition.book.id"></input>
                                            <input type="hidden" name="transition_id" value="@transition.id"></input>

                                            </form>
                                            <form id="update-isArrived-status" action="@routes.BookController.bookArrived()" method="post" role="form" style="display: block;">
                                                @CSRF.formField
                                                @{
                                                    if(transition.book.owner.id != user.id) {
                                                            <td>
                                                            <input type="submit" name="wish-submit" id="update-isArrived-status" class="btn btn-success" value="Onayla">
                                                            </input>
                                                            </td>
                                                    }


                                                }
                                            <input type="hidden" name="book_id" value="@transition.book.id"></input>
                                            <input type="hidden" name="transition_id" value="@transition.id"></input>

                                            </form>
                                            @if(transition.book.owner.id == user.id) {
                                                @if(transition.book.adder.id != user.id) {
                                                    <form id="cant-change" action="" method="get" role="form" style="display: block;">
                                                        <td> <input type="submit" name="cant-change" id="change-wish-form" class="btn btn-success disabled" value="Ulaştı" disabled>
                                                        </input></td>

                                                    </form>
                                                }
                                            }
                                        </tr>
                                        }
                                    }
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="from-me">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kitap Adi</th>
                                        <th>Yazari</th>
                                        <th>Talep Edenin Kullanıcının Adresi</th>
                                        <th>Isteyen Adı</th>
                                        <th>İsteği Onayla</th>
                                        <th>Kitabın Şu an sahibi</th>
                                    </tr>
                                </thead>
                                <tbody id="items">
                                    @if(bookList != null){
                                        @for(book <- bookList){
                                            @for(trans <- book.transition) {
                                                @for(wisher <- trans.wisherList) {
                                                    @if(wisher.name != user.name) {
                                                        @if(trans.transitionIsActive) {
                                                            <tr>
                                                                <td>@book.name</td>
                                                                <td>@book.author</td>

                                                                @if(trans.state == 0) {
                                                                    <td><input type="submit" class="btn btn-danger disabled" value="Alıcı Adresini Gör" disabled></input></td>

                                                                }else{
                                                                        <td><input type="submit" class="btn btn-success" value="Alıcı Adresini Gör"></input></td>

                                                                }
                                                                <td>@wisher.name</td>
                                                                <form id="update-shipped-status" action="@routes.BookController.bookShipped()" method="post" role="form" style="display: block;">
                                                                    @CSRF.formField
                                                                    @{
                                                                        if(book.owner.id == user.id && trans.state != 0) {
                                                                                <td>
                                                                                <input type="submit" name="wish-submit" id="update-shipped-status" class="btn btn-success" value="Kitabı Gönder">
                                                                                </input>
                                                                                </td>

                                                                        }

                                                                    }
                                                                    <input type="hidden" name="transition_id" value="@trans.id"></input>

                                                                </form>
                                                                @if(trans.state == 0) {
                                                                    <form id="cant-change" action="" method="get" role="form" style="display: block;">
                                                                        <td> <input type="submit" name="cant-change" id="change-wish-form" class="btn btn-success disabled" value="Gönderildi" disabled>
                                                                        </input></td>

                                                                    </form>

                                                                }
                                                                <td>@book.owner.name</td>
                                                            </tr>
                                                        }

                                                    }

                                                }
                                            }
                                    }



                                </tbody>
                            </table>
                        </div>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="settings">


                        <hr>
                        <form class="form" action="@routes.BookController.addBookForm" method="post" id="form">
                            @CSRF.formField
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="book_name"><h4>Kitap Adı</h4></label>
                                    <input type="text" class="form-control" name="book_name" id="book_name" placeholder="" title="">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="book_isbn"><h4>ISBN</h4></label>
                                    <input type="text" class="form-control" name="book_isbn" id="book_isbn" placeholder="" title="">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="book_author"><h4>Yazar</h4></label>
                                    <input type="text" class="form-control" name="book_author" id="book_author" placeholder="" title="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="book_available"><h4>Kitap dolaşıma uygun mu?</h4></label>
                                    <input type="checkbox" class="form-control" name="book_available" id="book_available" checked="checked">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="book_available"><h4>Kitap kondisyonu hakkında</h4></label>
                                    <input type="text" class="form-control" name="book_condition" id="book_condition">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"> Yolla</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div>
        <!--/row-->
    </div>
}
