@import helper._
@(user: Users)(transitions: List[Transitions])
@jsFileWithExtension(id: Long) = @{
    "demo" + id
}
@jsFileWithExtension2(id: Long) = @{
    "edit" + id
}

@main("Hey")(user) {
    <div class="container">

        <div class="row">
            <div class="col-sm-3"><!--left col-->

                <ul class="list-group">
                    <li class="list-group-item text-muted">Profil</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        İsim</strong></span> @user.username</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Mail</strong></span> @user.email</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>
                        Paylaştığı Kitap Sayısı</strong></span><a href="@routes.BookController.getBooksByAdder(user.id)">@user.books.size()<a></li>

                </ul>


            </div><!--/col-3-->
            <div class="col-sm-9">

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home" data-toggle="tab">Açıktaki Kitaplarım</a></li>
                    <li><a href="#messages" data-toggle="tab">İstekte Bulunduklarım</a></li>
                    <li><a href="#from-me" data-toggle="tab">Benden İstenenler</a></li>
                    <li><a href="#settings" data-toggle="tab">Kitap Ekle</a></li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kitap Adi</th>
                                        <th>Yazari</th>
                                        <th>ISBN</th>
                                        <th>Eklenme Tarihi</th>
                                        <th>Uygunluk</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="items">
                                @for(book <- user.books) {
                                    <tr data-toggle="collapse" data-target="#@jsFileWithExtension(book.id)" class="accordion-toggle ">
                                        <td><a href="@routes.BookController.getBookPage(book.id)">@book.name</td>
                                        <td><a href="@routes.BookController.getBooksByAuthor(book.author)">@book.author</td>
                                        <td>@book.ISBN</td>
                                        <td>@book.additionDate</td>
                                        <td>@book.isAvailable</td>
                                        <td><button type="button" data-toggle="modal" data-target="#@jsFileWithExtension2(book.id)" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                            <!-- <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td> -->
                                    </tr>

                                    <div id="@jsFileWithExtension2(book.id)" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                    <h4 class="modal-title">Kitap Bilgilerini Duzenle</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input id="fn" type="text" class="form-control" value="@book.name" name="fname" placeholder="Kitap Adi">
                                                    <input id="ln" type="text" class="form-control" value="@book.author" name="fname" placeholder="Yazar Ismi">
                                                    <input id="mn" type="text" class="form-control" value="@book.isAvailable" name="fname" placeholder="Uygunluk">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="up" class="btn btn-success" data-dismiss="modal">Kaydet</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Iptal</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </tbody>

                            </table>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-4 text-center">
                                    <ul class="pagination" id="myPager"></ul>
                                </div>
                            </div>
                        </div><!--/table-resp-->


                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="messages">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kitap Adi</th>
                                        <th>Yazari</th>
                                        <th>Kitabin Ekleyen</th>
                                        <th>Istegi Iptal Et</th>
                                    </tr>
                                </thead>
                                <tbody id="items">
                                    @for(transition <- transitions){
                                        @for(book <- transition.book ) {
                                            <tr>
                                                <td>@book.name</td>
                                                <td>@book.author</td>
                                                <td>@book.adder.name</td>
                                                <td><button type="button" data-toggle="modal" data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="from-me">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kitap Adi</th>
                                        <th>Yazari</th>
                                        <th>Kitabin Ekleyen</th>
                                        <th>Istegi Iptal Et</th>
                                    </tr>
                                </thead>
                                <tbody id="items">
                                @for(transition <- transitions){
                                    @for(book <- transition.book ) {
                                        <tr>
                                            <td>@book.name</td>
                                            <td>@book.author</td>
                                            <td>@book.adder.name</td>
                                            <td><button type="button" data-toggle="modal" data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                        </tr>
                                    }
                                }

                                </tbody>
                            </table>
                        </div>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="settings">


                        <hr>
                        <form class="form" action="@routes.BookController.addBookForm" method="post" id="form">
                            @CSRF.formField
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="book_name"><h4>Kitabın Adı</h4></label>
                                    <input type="text" class="form-control" name="book_name" id="book_name" placeholder="nome" title="Inserisci il nome">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="book_isbn"><h4>ISBN</h4></label>
                                    <input type="text" class="form-control" name="book_isbn" id="book_isbn" placeholder="Cognome" title="Inserisci il cognome">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="book_author"><h4>Kitabın Yazarı</h4></label>
                                    <input type="text" class="form-control" name="book_author" id="book_author" placeholder="inserisci il numero di telefono" title="inserisci il numero di telefono">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="book_available"><h4>Kitabın uygunluğu</h4></label>
                                    <input type="checkbox" class="form-control" name="book_available" id="book_available" checked="checked">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"</i> Yolla</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div>
        <!--/row-->
    </div>
}
